<!DOCTYPE html> 
<!-- layout.html -->

<!-- 
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->
<html lang="ko" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
	<head>
        <meta charset="UTF-8"/>
	</head>      
 	<!-- 해당 html페이지에서만 사용할 css, script  -->
 	<th:block layout:fragment="css"></th:block>  
 	<th:block layout:fragment="script"></th:block>
	<th:block layout:fragment="content">
		<!-- Contact section-->
	    <section class="bg-light py-5">
	        <div class="container px-5 my-5 px-5">
	            <div class="text-center mb-5">
	            <!--
	                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
	                </div>
	            -->
	                <h2 class="fw-bolder">로그인</h2>
	            </div>
	            <div class="row gx-5 justify-content-center">
	                <div class="col-lg-6">
	                    <form id="contactForm" >
	                        <!-- 아이디 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="userId" name="userId"   type="text" placeholder="아이디를 입력해주세요..."/>
	                            <label for="name">아이디</label>
	                            <div class="invalid-feedback" id="userIdErrMsg"style="display:none;">아이디를 입력해주세요.</div>
	                        </div>
	                        <!-- 비밀번호 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="userPw" name="userPw" type="password" placeholder="비밀번호를 입력해주세요..."/>
	                            <label for="name">비밀번호</label>
	                            <div class="invalid-feedback" id="userPwErrMsg"style="display:none;">비밀번호를 입력해주세요.</div>
	                        </div>
	                        <!-- 로그인  Button-->
	                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Login</button></div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </section> 
 		<script>
	        $("#userId, #userPw").off().on("focus", function () {
	            let _id = $(this).attr('id')
	            $("#" + _id + "ErrMsg").hide();
	        }).on("blur", function () {
	            let _id = $(this).attr('id')
	            let _value = $(this).val();     
	
	            if ($.trim(_value) == "") {
	                $("#"+ _id+"ErrMsg").show();
	            }
	            chkSubmitBtn();
	        });
	        function chkSubmitBtn(){
	            let flag = true;
	            $("input").each(function (index, item) {
	                if($.trim($(this).val()) == ""){
	                    flag = false;
	                }
	            });
	            if($(".invalid-feedback:visible").length == 0 && flag){
	                $("#submitButton").removeClass("disabled");
	            }else{
	                $("#submitButton").addClass("disabled");                
	            }
	        }
    	</script>
	</th:block>
</html>
