<!DOCTYPE html> 
<!-- layout.html -->

<!-- 
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->
<html lang="ko" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
	<head>
        <meta charset="UTF-8"/>
	</head>      
 	<!-- 해당 html페이지에서만 사용할 css, script  -->
 	<th:block layout:fragment="css"></th:block>  
 	<th:block layout:fragment="script"></th:block>
	<th:block layout:fragment="content">
		<!-- Contact section-->
	    <section class="bg-light py-5">
	        <div class="container px-5 my-5 px-5">
	            <div class="text-center mb-5">
	                <h2 class="fw-bolder">회원가입</h2>
	                <p class="lead mb-0">회원정보 입력를 입력해 주세요.</p>
	            </div>
	            <div class="row gx-5 justify-content-center">
	                <div class="col-lg-6">
	                    <form id="contactForm" method="POST" action="/member/save">
	                        <!-- 아이디 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="memberId" name="memberId"   type="text" placeholder="아이디를 입력하세요..." />
	                            <label for="memberId">아이디</label>
	                            <div class="invalid-feedback"id="userIdErrMsg"style="display:none;" >아이디를 입력하세요.</div>
	                        </div>
	                        <!-- 비밀번호 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="memberPassword" name="memberPassword"   type="password" placeholder="비밀번호를 입력하세요..." />
	                            <label for="memberPassword">비밀번호</label>
	                            <div class="invalid-feedback" id="userPwErrMsg"style="display:none;">비밀번호를 입력하세요.</div>
	                        </div>
	                        <!-- 이름 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="memberName" name="memberName"   type="text" placeholder="이름을 입력하세요..." />
	                            <label for="memberName">이름</label>
	                            <div class="invalid-feedback" id="userNameErrMsg"style="display:none;">이름을 입력하세요.</div>
	                        </div>
	                        <!-- 이메일주소 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="memberEmail" name="memberEmail"   type="email" placeholder="name@example.com" />
	                            <label for="memberEmail">이메일 주소</label>
	                            <div class="invalid-feedback" id="memberEmailErrMsg"style="display:none;">메일주소를 입력하세요.</div>
	                            <div class="invalid-feedback" id="memberEmailNotPattern"style="display:none;">이메일 형식이 아닙니다.</div>
	                        </div>
	                        <!-- 핸드폰번호 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="memberMobile" name="memberMobile" type="tel" placeholder="(010) 0000-0000" />
	                            <label for="memberMobile">핸드폰 번호</label>
	                            <div class="invalid-feedback" id="userTelErrMsg"style="display:none;">핸드폰 번호를 입력하세요.
	                            </div>
	                        </div>
	                        <!-- 생년월일 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="memberBirth" name="memberBirth" type="tel" placeholder="000000" />
	                            <label for="memberBirth">생년월일</label>
	                            <div class="invalid-feedback" id="userTelErrMsg"style="display:none;">핸드폰 번호를 입력하세요.
	                            </div>
	                        </div>
	                        <!-- 운전면허 번호 input-->
	                        <div class="form-floating mb-3">
	                            <input class="form-control" id="memberLicense" name="memberLicense" type="tel" placeholder="000000000000" />
	                            <label for="memberLicense">운전면허 번호</label>
	                            <div class="invalid-feedback" id="userTelErrMsg"style="display:none;">핸드폰 번호를 입력하세요.
	                            </div>
	                        </div>
	                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">가입하기</button></div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </section>
		<script>
	    </script>
	</th:block>
</html>
