<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<h2>update.html</h2>
<form action="/member/update" method="post" name="updateForm">
  <input type="hidden" th:value="${updateMember.memberIdx}" name="memberIdx"><br>

  아이디: <input type="text" id="memberId" th:value="${updateMember.memberId}" name="memberId" readonly><br>
  비밀번호: <input type="password" id="memberPassword" name="memberPassword"><br>
  이름: <input type="text" id="memberName" th:value="${updateMember.memberName}" name="memberName"><br>
  이메일: <input type="text" id=memberEmail" th:value="${updateMember.memberEmail}" name="memberEmail"><br>
  면허번호: <input type="text" id="memberLicense" th:value="${updateMember.memberLicense}" name="memberLicense"><br>
  생년월일: <input type="text" id="memberBirthDate" th:value="${updateMember.memberBirthDate}" name="memberBirthDate"><br>
  <input type="submit" th:onclick="update()" value="회원정보수정">
  <input type="submit" th:onclick="updateByAjax()" value="회원정보수정(put)">
</form>
</body>
<script th:inline="javascript">
  const updateByAjax = () =>{
    const memberId = [[${updateMember.memberId}]];
    const memberName = [[${updateMember.memberName}]];
    const memberEmail = [[${updateMember.memberEmail}]];
    const memberLicense = document.getElementById("memberLicense").value;
    const memberBirthDate = [[${updateMember.memberName}]];
    //JSON 형식으로 보냄
    const updateData = JSON.stringify({
      memberId: memberId,
      memberName: memberName,
      memberEmail: memberEmail,
      memberLicense: memberLicense,
      memberBirthDate: memberBirthDate
    });
    $.ajax({
      type: "put",
      data: updateData,
      url: "/member/"+memberId,
      contentType: "application/json",
      success: function(){
        location.href = "member/"+memberId;
      },
      error: function (){
        aler("ajax 실패");
      }
    })
  }
  const update = () => {
    const pw = [[${updateMember.memberPassword}]];
    const pwConfirm = document.getElementById("memberPassword").value;
    if (pw == pwConfirm){
      updateForm.submit();
    }else{
      alert("비밀번호가 틀립니다!!");
    }
  }
</script>
</html>