@charset "UTF-8";

body {
    font-family: PureunJeonnam;
    font-size: 0.75em;
    color: #353535;
    letter-spacing: -0.3px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

div{
	display: block;
}


#headerWrap {
	width: 100%;
	font-family: PureunJeonnam;
}

li {
    list-style: none;
}

.more{
	color: #555;
}

#logoWrap {
	background-color: #006F3E;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#loginWrap {
	height: 50px;
	/*    background-color:blue; */
	font-family: PureunJeonnam;
}

#Logo {
	margin-top: 5px;
	margin-bottom: -8px;
}

#topMenu{
	width: 1480px;
    margin:auto;
}

#totalMenu{
	color: #555;
    background-color: #fff;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    position: relative;
	
    border: 1px solid red;
    float: left;
    width:10%;
    box-sizing: border-box;
}

#secondMenu{
	border: 1px solid green;
    float: left;
    width:72%;
    box-sizing: border-box;
}

#thirdMenu{
	
	border: 1px solid black;
    float: right;
    width:18%;
    box-sizing: border-box;
}


#loginWrap ul {
	list-style-type: none; /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
	margin: 0px; /* 메인 메뉴 안의 ul의 margin을 없앰 */
	padding: 0px; /* 메인 메뉴 안의 ul의 padding을 없앰 */
}

#loginWrap ul li {
	color: white; /* 글씨 색을 흰색으로 설정 */
	 /* 왼쪽으로 나열되도록 설정 */
	line-height: 40px; /* 텍스트 한 줄의 높이를 30px로 설정 */
	vertical-align: middle; /* 세로 정렬을 가운데로 설정 */
	text-align: center; /* 텍스트를 가운데로 정렬 */
	margin-right: 10px;
	font-family: PureunJeonnam;
}

.loginLink {
	text-decoration: none; /* a 태그의 꾸밈 효과 제거 */
	font-color: #006F3E;
	font-size: 12px; /* 폰트 사이즈를 12px로 설정 */
	font-weight: bold; /* 폰트를 굵게 설정 */
	font-family: PureunJeonnam;
}

.loginname {
	text-decoration: none; /* a 태그의 꾸밈 효과 제거 */
	font-size: 15px; /* 폰트 사이즈를 12px로 설정 */
	font-weight: bold; /* 폰트를 굵게 설정 */
	font-family: PureunJeonnam;
	float: right;
	margin-right: 40px;
	margin-top: 10px;
}

.circle{
	width: 6px;
    height: 6px;
    position: absolute;
    background: #129a58;
    border-radius: 50%;
    right: 0;
    display: none;
}

#topMain {
    background: #fff;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}

#topMainMenuAll {
	width: 100%;
    height: 42px;
}

#topManu{
	max-width: 1280px;
    margin: 0 auto;
    height: 53px;
    position: relative;
    text-align: left;
}

#topMenu ul { /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
	list-style-type: none; /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
	margin: 0px; /* 메인 메뉴 안의 ul의 margin을 없앰 */
	padding: 0px; /* 메인 메뉴 안의 ul의 padding을 없앰 */
}

#topMenu ul li { /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
	color: #555; /* 글씨 색을 흰색으로 설정 */
	background-color: #fff; /* 배경 색을 RGB(2D2D2D)로 설정 */
	float: left; /* 왼쪽으로 나열되도록 설정 */
	line-height: 40px; /* 텍스트 한 줄의 높이를 30px로 설정 */
	vertical-align: middle; /* 세로 정렬을 가운데로 설정 */
	text-align: center; /* 텍스트를 가운데로 정렬 */
	position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */
}


}

#menu_kategori{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.menuLink, .submenuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
	text-decoration: none; /* a 태그의 꾸밈 효과 제거 */
	display: block; /* a 태그의 클릭 범위를 넓힘 */
	width: 110px; /* 기본 넓이를 150px로 설정 */
	font-size: 15px; /* 폰트 사이즈를 12px로 설정 */
	font-weight: bold; /* 폰트를 굵게 설정 */
	font-family: PureunJeonnam, Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */
}



.menuLink { /* 상위 메뉴의 글씨색을 흰색으로 설정 */
	color: #555;
}

.topMenuLi:hover .menuLink { /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
	color: #006F3E; /* 윌포인트색 */
}

.loginLink:hover .thirdMenu{
	color: #006F3E;
}

.loginLink:visited { 
	color: #555; 
}

.submenuLink { /* 하위 메뉴의 a 태그 스타일 설정 */
	color: #2d2d2d; /* 글씨 색을 RGB(2D2D2D)로 설정 */
	background-color: white; /* 배경색을 흰색으로 설정 */
	border: solid 1px black; /* 테두리를 설정 */
	margin-top: -1px; /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */
}

.longLink { /* 좀 더 긴 메뉴 스타일 설정 */
	width: 120px; /* 넓이는 190px로 설정 */
}

.submenu { /* 하위 메뉴 스타일 설정 */
	position: absolute; /* html의 flow에 영향을 미치지 않게 absolute 설정 */
	height: 0px; /* 초기 높이는 0px로 설정 */
	overflow: hidden; /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
	transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */
	-webkit-transition: height .2s;
	/* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */
	-moz-transition: height .2s;
	/* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */
	-o-transition: height .2s;
	/* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */
}

.topMenuLi:hover .submenu { /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
	height: 100px; /* 높이를 93px로 설정 */
}

.submenuLink:hover { /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
	color: #006F3E; /* 글씨색을 빨간색으로 설정 */
	background-color: #dddddd; /* 배경을 RGB(DDDDDD)로 설정 */
}

@font-face { /* 나눔고딕 Regular */
	font-family: PureunJeonnam;
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src:
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf)
		format('truetype');
}
		

		/* footer */

.footer{
	border-top: 1px solid #ddd;
    margin-top: 120px;
    overflow: hidden;
    position: relative;
    width: 100%;
    *zoom: 1;
    margin: 0px 0 0 0;
    font-family: PureunJeonnam;
}

.ft_inner{
	border-top: 1px solid #ddd;
    margin-top: 120px;
}

		
.ft_top_cont {
    padding: 55px 40px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.ft_cs_center {
    width: 460px;
    float: left;
    padding-right: 50px;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #e2e2e2;
    line-height: 1;
}

.ft_cs_center_top {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.title {
    position: relative;
    font-size: 21px;
    font-family: PureunJeonnam;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    
}

.tel {
    font-size: 37px;
    color: #323232;
    font-family: 'notoKrB';
    margin-bottom: 10px;
}

.run_time {
    font-size: 13px;
    color: #555;
    line-height: 1.8;
}

.ft_board_link {
    position: absolute;
    bottom: 3px;
    right: 0px;
}

.ft_board_link ul li:first-child {
    margin-bottom: 10px;
    background: url(/web/upload/free_design/ft_icon.png) no-repeat 43px center;
}

.ft_board_link ul li:first-child a {
    padding-left: 78px;
    width: 90px;
    text-align: left;
}
.ft_board_link ul li a {
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 3px;
    line-height: 48px;
    height: 48px;
    font-size: 14px;
    color: #343434;
    width: 168px;
    text-align: center;
}



.ft_bank_info {
    float: left;
    padding: 0 50px;
    max-width: 180px;
    min-height: 184px;
    border-right: 1px solid #e2e2e2;
    min-height: 207px;
}

.ft_bank_info ul {
    width: 100%;
    margin: 0 auto;
    padding-left: 0px;
}

.ft_bank_info ul li span {
    margin-right: 15px;
}



.ft_notice_list {
    padding-left: 50px;
    float: left;
    width: 295px;
}

title a {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 12px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #000;
    float: right;
    font-weight: normal;
    font-family: 'PureunJeonnam;
    background-size: 100%;
}






.footer_Under {
    width: 100%;
    position: relative;
    background: #3c3a3b;
    color: #fff;
    width: 100%;
}

.tel {
    font-size: 37px;
    color: #323232;
    font-family: 'notoKrB';
    margin-bottom: 10px;
}


.ft_navi_cont {
    width: 100%;
    margin: 0px auto 0;
    overflow: hidden;
    border-bottom: 1px solid #555555;
    padding: 0 40px;
    max-width: 1200px;
}

li.home {
    padding-left: 0;
    background: none;
}

.utilMenu li {
    float: left;
    padding: 40px 45px 40px 45px;
}

.ft_com_info_layout {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 30px 40px;
    width: 1200px;
    margin: 0 auto;
}

.address span {
    position: relative;
    padding: 0 20px 10px 0px;
    display: inline-block;
}

.copyright {
    font-size: 14px;
    color: #9a9b9b;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}




/* mainbody */

.topsubBannerAll {
    width: 100%;
    max-width: 1285px;
    margin: 15px auto 0px;
}

.topsubBanner a:first-child {
    margin-right: 15px;
}

.topsubBannerinsert{
    display: inline-block;
    width: 50%;
    max-width: 632px;
}

.mainEventCon{
    width: 100%;
    max-width: 1285px;
    margin: 100px auto;
}
}

img {
    border: none;
    vertical-align: top;
}