<!DOCTYPE html> 
<!-- layout.html -->

<!-- 
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->
<html lang="ko" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
	<head>
        <meta charset="UTF-8"/>
        <style>
			 .inf-content{
	    		border:1px solid #DDDDDD;
			    -webkit-border-radius:10px;
			    -moz-border-radius:10px;
			    border-radius:10px;
			    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
			}			        
        </style>
	</head>      
	<th:block layout:fragment="content">
		<!-- Contact section-->
	    <section class="bg-light py-5">
			<div class="container bootstrap snippets bootdey">
			<div class="panel-body inf-content">
			    <div class="row">
			        <div class="col-md-4">
			            <img alt="" style="width:600px;" title="" 
			            	class="img-circle img-thumbnail isTooltip" src="https://t1.daumcdn.net/tistoryfile/fs13/30_tistory_2008_12_23_18_01_4950a9072f77f?original" data-original-title="Usuario"> 
			            <ul title="Ratings" class="list-inline ratings text-center">
			                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
			                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
			                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
			                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
			                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
			            </ul>
			        </div>
			        <div class="col-md-6">
			            <strong>Information</strong><br>
			            <div class="table-responsive">
			            <table class="table table-user-information">
			                <tbody>
			                    <tr>        
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
			                                Id                                                
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                            pika     
			                        </td>
			                    </tr>
			                    <tr>    
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-user  text-primary"></span>    
			                                Name                                                
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                            pikachu
			                        </td>
			                    </tr>
			                    <tr>        
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
			                                Email                                                
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                            pikapika@naver.com 
			                        </td>
			                    </tr>
			
			                    <tr>        
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-bookmark text-primary"></span> 
			                                Mobile                                              
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                            010-2222-2222 
			                        </td>
			                    </tr>
			
			
			                    <tr>        
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-eye-open text-primary"></span> 
			                                Birth                                                
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                            03/03/03
			                        </td>
			                    </tr>
			                    <tr>        
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
			                                License                                                
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                            111-11-11-111  
			                        </td>
			                    </tr>
			                    <tr>        
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-calendar text-primary"></span>
			                                Like                                                
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                            5
			                        </td>
			                    </tr>
			                    <tr>        
			                        <td>
			                            <strong>
			                                <span class="glyphicon glyphicon-calendar text-primary"></span>
			                                Optional                                               
			                            </strong>
			                        </td>
			                        <td class="text-primary">
			                        Optional
			                        </td>
			                    </tr>                                    
			                </tbody>
			            </table>
			            </div>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
									<button type="button" id="submit" name="submit" class="btn btn-primary">수정하기</button>
								</div>
							</div>
						</div>
			        </div>
			    </div>
			</div>
			</div>           	    
	    </section>
	</th:block>
</html>
