<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>save.html</h2>
  <form action="/>member/save" method="post">
    아이디: <input type="text" name="member_id"><br>
    비밀번호: <input type="password" name="member_password"><br>
    이름: <input type="text" name="member_name"><br>
    이메일: <input type="text" name="member_email"><br>
    면허번호: <input type="text" name="member_license"><br>
    생년월일: <input type="text" name="member_birthDate"><br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>