<!DOCTYPE html> 
	<html lang="ko" xmlns:th="http://www.thymeleaf.org">  
	<head>
        <meta charset="UTF-8"/>
	</head>      
    <!--headerFragment 선언-->
    <th:block th:fragment="headerFragment">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container px-5">

                <a class="navbar-brand" href="/"><img class="logo" alt="투개더 로고" src="/assets/TGT_nav_logo2.png" height="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/login">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/register">회원가입</a></li>


                        <li class="nav-item"><a class="nav-link" href="/member/">회원관리</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">메뉴2</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">게시판</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="blog-home.html">공지사항</a></li>
                                <li><a class="dropdown-item" href="blog-post.html">Q&A</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	</th:block>
</html>
