<!DOCTYPE html>
<!-- layout.html -->

<!--
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!-- 해당 html페이지에서만 사용할 css, script  -->
<head>
    <meta charset="UTF-8"/>
    <title>메인 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <!-- swiper -->
    <style>
        /*.swiper {*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*}*/

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            /*background: #fff;*/

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="content">

    <!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">

                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/TGT_logo.png" alt="Logo" ></div>
                            <div class="swiper-slide">
                                <img src="https://swiperjs.com/demos/images/nature-2.jpg"/>
                            </div>
<!--                            <div class="swiper-slide">Slide 4</div>-->
<!--                            <div class="swiper-slide">Slide 5</div>-->
<!--                            <div class="swiper-slide">Slide 6</div>-->
<!--                            <div class="swiper-slide">Slide 7</div>-->
<!--                            <div class="swiper-slide">Slide 8</div>-->
<!--                            <div class="swiper-slide">Slide 9</div>-->
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
<!--                    <h1 class="display-5 fw-bolder text-white mb-2"><img src="/assets/TGT_logo.png" alt="Logo" style="width:530px;height:500px;"></h1>-->
<!--                    <p class="lead text-white-50 mb-4">강아지 커뮤니티</p>-->
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">title1</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">title2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Features section 샘플1-->
<section class="py-5 border-bottom" id="features">

    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">서브타이틀1</h2>
                <p>서브 타이틀의 내용 서브 타이틀의 내용 서브 타이틀의 내용 서브 타이틀의 내용 서브 타이틀의 내용 서브 타이틀의 내용 서브 타이틀의 내용 서브 타이틀의 내용 서브 타이틀의 내용 </p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">서브타이틀2</h2>
                <p>서브타이틀의 내용 </p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">서브타이틀3</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Pricing section 샘플2-->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Pay as you grow</h2>
            <p class="lead mb-0">With our no hassle pricing plans</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Pricing card free-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Free</div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$0</span>
                            <span class="text-muted">/ mo.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>1 users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Free linked domain
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Monthly status reports
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing card pro-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-star-fill text-warning"></i>
                            Pro
                        </div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$9</span>
                            <span class="text-muted">/ mo.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>5 users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Free linked domain
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Monthly status reports
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-primary" href="#!">Choose plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing card enterprise-->
            <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Enterprise</div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$49</span>
                            <span class="text-muted">/ mo.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited</strong>
                                linked domains
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-check text-primary"></i>
                                Monthly status reports
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Get in touch</h2>
            <p class="lead mb-0">We'd love to hear from you</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!--    <script>-->
<!--        var swiper = new Swiper(".mySwiper", {-->
<!--            loop: true,-->
<!--            spaceBetween: 10,-->
<!--            slidesPerView: 4,-->
<!--            freeMode: true,-->
<!--            watchSlidesProgress: true,-->
<!--        });-->
<!--        var swiper2 = new Swiper(".mySwiper2", {-->
<!--            loop: true,-->
<!--            spaceBetween: 10,-->
<!--            navigation: {-->
<!--                nextEl: ".swiper-button-next",-->
<!--                prevEl: ".swiper-button-prev",-->
<!--            },-->
<!--            thumbs: {-->
<!--                swiper: swiper,-->
<!--            },-->
<!--        });-->
<!--    </script>-->
    <script>
        <!-- Initialize Swiper -->
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            // effect: "fade",
            // fadeEffect: { // Add this
            //     crossFade: true,
            // },
            centeredSlides: true,
            autoplay: {
            delay: 2500,
            disableOnInteraction: false,
            pauseOnMouseEnter:true
            },
            pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
            clickable: true
            },
            navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
            },
            freeMode: true,
            watchSlidesProgress: true,
            thumbs: {
                swiper: swiper,
            }
        });
    </script>
</th:block>

</html>
