<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<!-- 해당 html페이지에서만 사용할 css, script  -->
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="content">
    <!-- Contact section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">회원가입</h2>
                <p class="lead mb-0">회원정보 입력를 입력해 주세요.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form id="registerForm">
                        <p class="lead mb-0">필수 입력 정보</p>
                        <hr>
                        <!-- 아이디 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" name="username" type="text"
                                   placeholder="아이디를 입력하세요..."/>
                            <label for="username">아이디</label>
                            <div class="invalid-feedback" id="usernameErrMsg" style="display:none;">아이디를 입력하세요.</div>
                            <div class="valid-feedback" id="usernameCheck" style="display:none;"></div>
                        </div>

                        <!-- 비밀번호 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" type="password"
                                   placeholder="비밀번호를 입력하세요..."/>
                            <label for="password">비밀번호</label>
                            <div class="invalid-feedback" id="passwordErrMsg" style="display:none;">비밀번호를 입력하세요.</div>
                        </div>

                        <!-- 비밀번호 확인 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password"
                                   placeholder="비밀번호 확인을 입력하세요..."/>
                            <label for="password">비밀번호 확인</label>
                            <div class="invalid-feedback" id="passwordConfirmErrMsg" style="display:none;">비밀번호 확인을
                                입력하세요.
                            </div>
                            <div class="valid-feedback" id="passwordCheckMsg" style="display:none;"></div>

                        </div>
<!--                        &lt;!&ndash; 이름 input&ndash;&gt;-->
<!--                        <div class="form-floating mb-3">-->
<!--                            <input class="form-control" id="nickname" name="nickname" type="text"-->
<!--                                   placeholder="닉네임을 입력하세요..."/>-->
<!--                            <label for="nickname">닉네임</label>-->
<!--                            <div class="invalid-feedback" id="nicknameErrMsg" style="display:none;">닉네임을 입력하세요.</div>-->
<!--                        </div>-->
                        <!-- 이메일주소 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email"
                                   placeholder="name@example.com"/>
                            <label for="email">이메일 주소</label>
                            <div class="invalid-feedback" id="emailErrMsg" style="display:none;">메일주소를 입력하세요.</div>
                            <div class="invalid-feedback" id="emailNotPattern" style="display:none;">이메일 형식이 아닙니다.
                            </div>
                        </div>
                        <!-- 핸드폰번호 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel"
                                   placeholder="휴대폰 번호를 입력하세요..."/>
                            <label for="phone">휴대폰 번호</label>
                            <div class="invalid-feedback" id="phoneErrMsg" style="display:none;">휴대폰 번호를 입력하세요.</div>
                            <div class="valid-feedback" id="phoneCheckForm" style="display:none;"></div>

                        </div>


                        <br>
                        <br>
                        <p class="lead mb-0">선택 입력 정보</p>
                        <hr>
                        <!-- 생년월일 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="birth" name="birth" type="date"
                                   placeholder="생년월일을 입력하세요..."/>
                            <label for="birth">생년월일</label>
<!--                            <div class="invalid-feedback" id="birthErrMsg" style="display:none;">생년월일을 입력하세요.</div> -->
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="button">회원가입
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        //아이디 중복체크 여부
        let IS_ID_CHK = false;

        //아이디 중복체크, 입력 감지 이벤트
        $("#username").on("focus", function () {
            let _id = $(this).attr('id')
            $("#" + _id + "ErrMsg").hide();
            if (_id == "username") {
                IS_ID_CHK = false;
                $("#submitButton").addClass("disabled");
            }
        }).on("input", function () { //입력시 실시간 id 중복체크
            // alert("입력감지");
            let _id = $(this).attr('id')
            let _value = $(this).val();
            $("#" + _id + "ErrMsg").hide();
            if ($.trim(_value) == "") {
                $("#usernameErrMsg").show();
                $("#usernameCheck").hide();
                chkSubmitBtn();
                return false;
            } else {
                $.ajax({
                    type: "post",
                    url: "/user/idCheck",
                    dataType: "text",
                    data: {
                        username: _value
                    },
                    success: function (result) {
                        if (result == "ok") {
                            IS_ID_CHK = true;
                            $("#usernameCheck")[0].innerHTML = "사용 가능한 아이디 입니다.";
                            $("#usernameCheck")[0].style.color = "green";
                            $("#usernameCheck").show();
                        } else {
                            IS_ID_CHK = false;
                            $("#usernameCheck")[0].innerHTML = "이미 사용중인 아이디 입니다.";
                            $("#usernameCheck")[0].style.color = "red";
                            $("#usernameCheck").show();
                        }
                    },
                    error: function () {
                        alert("ajax 실패");
                    }
                })
                chkSubmitBtn();

                // $.get(
                //     "/js/id.json?" + _value
                //     , function (data) {
                //         if (data == "success") {
                //             IS_ID_CHK = true;
                //             console.log(data);
                //         } else {
                //             alert("사용할 수 없는 아이디 입니다.");
                //             $("#usernameErrMsg").show();
                //             $("#username").val("");
                //         }
                //
                //     }
                // );
            }
        }).on("blur", function () {

            let _id = $(this).attr('id')
            let _value = $(this).val();
            if ($.trim(_value) == "") {
                $("#" + _id + "ErrMsg").show();
            }
            chkSubmitBtn();
        });

        // 비밀번호 확인, 이름 입력 감지 이벤트
        // 비밀번호와 비밀번호 확인 일치 여부 확인
        $("#passwordConfirm").off().on("focus", function () {
            let _id = $(this).attr('id')
            $("#" + _id + "ErrMsg").hide();
        }).on("input", function () {
            let pwdConfirm = $("#passwordConfirm").val();
            let pwd = $("#password").val();
            if (pwdConfirm == pwd && pwdConfirm != "") {
                $("#passwordCheckMsg")[0].style.color = "green";
                $("#passwordCheckMsg")[0].innerHTML = "비밀번호가 일치합니다.";
                $("#passwordCheckMsg").show();
            } else {
                $("#passwordCheckMsg")[0].style.color = "red";
                $("#passwordCheckMsg")[0].innerHTML = "비밀번호가 일치하지 않습니다.";
                $("#passwordCheckMsg").show();
                return false;
            }
        }).on("blur", function () {
            let _id = $(this).attr('id')
            let _value = $(this).val();
            if ($.trim(_value) == "") {
                $("#passwordConfirmErrMsg").show();
                $("#passwordCheckMsg").hide();
                chkSubmitBtn();
                return false;
            }
            if ($.trim(_value) == "") {
                $("#" + _id + "ErrMsg").show();
            }
            chkSubmitBtn();
        });

        //비밀번호,이름 입력 감지 이벤트
        $("#password, #nickname").off().on("focus", function () {

            let _id = $(this).attr('id')
            $("#" + _id + "ErrMsg").hide();

        }).on("blur", function () {
            let _id = $(this).attr('id')
            let _value = $(this).val();
            if ($.trim(_value) == "") {
                $("#" + _id + "ErrMsg").show();
            }
            chkSubmitBtn();
        });

        //이메일 입력 감지 이벤트
        $("#email").on("focus", function () {
            $("#emailErrMsg, #emailNotPattern").hide();
        }).on("blur", function () {
            //이메일을 입력안하면 경고문구 표시
            let _value = $(this).val();
            if ($.trim(_value) == "") {
                $("#emailErrMsg").show();
                return false;
            }
            //이메일을 형식이 안맞으면 경고문구 표시
            if (!isValidEMail($.trim(_value))) {
                $("#emailNotPattern").show();
                return false;
            }
            chkSubmitBtn();
        });

        //휴대폰 입력 감지 이벤트
        $("#phone").off().on("focus", function () {
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
            $("#phoneErrMsg").hide();
        }).on("input", function() {
            // 휴대폰 형식이 안맞으면 경고문구 표시
            if ($(this).val().replace(/[^0-9]/g, "").length < 10) {
                $("#phoneCheckForm")[0].innerHTML = "옳바르지 않은 휴대폰 번호 형식입니다.";
                $("#phoneCheckForm")[0].style.color = "red";
                $("#phoneCheckForm").show()
                $('#phoneErrMsg').hide();
                chkSubmitBtn();
            }else{
                $("#phoneCheckForm")[0].innerHTML = "옳바른 휴대폰 번호 형식입니다.";
                $("#phoneCheckForm")[0].style.color = "green";
                $("#phoneCheckForm").show()
            }
        }).on("blur", function () {
            // 휴대폰을 입력안하면 경고문구 표시
            if ($.trim($(this).val()) == "") {
                $('#phoneErrMsg').show();
                $("#phoneCheckForm").hide();

                $(this).val("");
                chkSubmitBtn();
            }else{
                $(this).val(fncSetPhoneFormat($(this).val()));
                $("#phone").text($(this).val());
                chkSubmitBtn();
            }
        });

        // 가입하기 버튼 활성/비활성화 감지 이벤트
        function chkSubmitBtn() {

            let flag = true;

            $("#username, #password, #passwordConfirm, #nickname, #phone, #email").each(function (index, item) {
                if ($.trim($(this).val()) == "") {
                    flag = false;
                }
            });

            if ($(".invalid-feedback:visible").length == 0 && flag && IS_ID_CHK) {
                $("#submitButton").removeClass("disabled");
            } else {
                $("#submitButton").addClass("disabled");
            }

        }

        /**
         * 이메일 패턴 체크
         *
         * @return boolean
         */
        function isValidEMail(eMail) {
            var EMAIL_PATTERN = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}/;
            eMail = $.trim((eMail));
            if (eMail.match(EMAIL_PATTERN) == null) {
                return false;
            } else {
                return true;
            }
        }

        /**------------------------------------------------------------------
         * 전화번호 포맷 처리
         */
        function fncSetPhoneFormat(s) {
            return String(s).replace(/[^0-9]/g, "").replace(/^(?:82|0)(1(0|1|6|7|8|9))(\d{3,4})(\d{4})(.*)$/, "0$1-$3-$4");
        }

        /**------------------------------------------------------------------
         * 전화번호 유효성 검사
         */
        function fncIsValidPhoneNumber(s) {
            return /^(82|0)1(0|1|6|7|8|9)\d{3,4}\d{4}/.test(String(s).replace(/[^0-9]/g, ""));
        }


        // get the form element from dom
        const formElement = document.querySelector('form#registerForm')

        // convert the form to JSON
        const getFormJSON = (form) => {
            const data = new FormData(form);
            return Array.from(data.keys()).reduce((result, key) => {
                result[key] = data.get(key);
                return result;
            }, {});
        };

    //  submit 버튼 클릭 시 post 방식, json형태로 정보 전달
        $('#submitButton').on("click", function (){
            const data = JSON.stringify(getFormJSON(formElement));
            // const registerForm = JSON.stringify(Object.fromEntries($("#registerForm").entries()));

            console.log("registerForm>> "+data);
            $.ajax({

                url: "/api/v1/auth/register",
                type: "post",
                contentType: "application/json; charset=utf-8",
                data: data,
                dataType: 'json',
                success: function (data) {
                    alert("success");
                    console.log(data);
                    // window.location.href = '';
                },
                error: function (request, status, error) {
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

                }
            });

        })

    </script>
</th:block>
</html>
